.contact-h{
    text-align: center; /* Centra el título */
    margin: 2rem;
}

.contact-h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-family: "Poppins", serif;
    font-weight: bold;
}

.b-contact{
    padding-top: 20px;
}