
.content-home {
  background-image: url(/img/forus.jpg); /* Imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  border-radius: 10px; /* Bordes redondeados opcionales */
  width: 100%; /* Asegura que ocupe todo el ancho */
  padding: 2rem 1rem; /* Espaciado interno para controlar el espacio alrededor del contenido */
  padding-bottom: 4rem; /* Agrega más espacio debajo del botón */
}

.home-m{
    text-align: center; /* Centra el título */
    margin: 2rem;
    
}

.h1-home {
    font-size: 2.9rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-family: "Poppins", serif;
    font-weight: bold;
    color: white;
}

.boton-p {
    background-color: #b75145; /* Cambia el color del botón */
    border: none;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
    font-family: "Poppins", serif;
  }
  
  .boton-p:hover {
    background-color: #b75145; /* Color al pasar el cursor */
  }
  