.nav {
    background-color: white;
  }
  
  .nav.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
  }
  
  .custom-nav-spacing .nav-link {
    margin-right: 38px;
    margin-left: 30px;
    font-size: 1.2rem;
    color: #555555;
    font-family: "Poppins", serif;
    font-weight: bold;
  }
  
  .custom-nav-spacing .nav-link:last-child {
    margin-right: 0;
  }

  .dropdown-menu{
    
    font-size: 16px !important; 
    color: #f1f1f1 !important;
    border: none !important;
    font-family: "Poppins", serif !important;
    font-weight: bold !important;
    border-radius: 25px !important;
    padding: 10px 20px !important;

  }

  .dropdown-menu a:hover{
    background-color: #b75145;
    color: white;
    border-radius: 5px !important;
  }
  