.fabrica-home{
    text-align: center; /* Centra el título */
    margin: 2rem;
}
.p-fabrica{
    font-size: 1.3rem;
    line-height: 1.6; /* Mejor legibilidad */
    margin-bottom: 1.5rem;
    font-family: "Poppins", serif;
    text-align: left;
}

.nuestraf-h1{
    padding-left: 9%;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-family: "Poppins", serif;
    font-weight: bold;
}

.content-fabrica{
    display: flex; /* Flexbox para alinear horizontalmente */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Centra el contenido horizontalmente */
    gap: 2rem; /* Espacio entre la imagen y el texto */
}

.imagen-fabrica{
    max-width: 50%; /* Ajusta la imagen al 50% del ancho */
    height: auto; /* Mantén las proporciones de la imagen */
    border-radius: 10px; /* Bordes redondeados (opcional) */
}

