/* Contenedor principal con imagen de fondo */
.content-home {
  background-image: url(/img/forus.jpg); /* Imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  width: 88%; /* Cubre todo el ancho */ height: 50vh; /* Cubre toda la altura de la ventana */
  padding-bottom: 8rem; 
  padding-top: 5%;
  padding-left: 5%;
  margin-left: 9%;
  
}
/* Título principal */
.h1-home {
  font-size: 2.5rem; /* Tamaño grande por defecto */
  margin-bottom: 1.5rem;
  font-family: "Poppins", serif;
  font-weight: bold;
  color: white;
  text-align: left; /* Alineación a la izquierda */
}

/* Contenedor de título principal */
.home-m {
  margin: 2rem 0;
}

/* Botón */
.boton-p {
  margin-top: 2%;
    background-color: #b75145 !important;
    border: none !important;
    padding: 0.8rem 1.2rem !important;
    font-size: 1rem !important;
    border-radius: 5px !important;
    color: white !important;
    transition: background-color 0.3s ease !important;
    font-family: "Poppins", serif !important;
}

/* Hover del botón */
.boton-p:hover {
  background-color: #a44238;
}

