.nav {
    background-color: white;
  }
  
  .nav.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
  }
  
  .custom-nav-spacing .nav-link {
    margin-right: 38px;
    margin-left: 30px;
    font-size: 1.2rem;
    color: #555555;
    font-family: "Poppins", serif;
    font-weight: bold;
  }
  
  .custom-nav-spacing .nav-link:last-child {
    margin-right: 0;
  }

  .dropdown-menu a {
    font-family: "Poppins", serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: black; /* Color inicial del texto */
    text-decoration: none;
    background: linear-gradient(to right, transparent 50%, #b75145 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.7s ease-out, color 0.5s ease-out;
  }
  
  .dropdown-menu a:hover {
    background-position: right bottom; /* Mueve el color desde derecha a izquierda */
    color: white; /* Cambia el color del texto */
    border-radius: 5px !important;
  }
  
  