/* Estilo para el título principal de servicios */
.servicios-titulo {
  font-size: 2rem;
  font-family: "Poppins", serif;
  font-weight: bold;
  color: #333; /* Asegura que el color sea visible */
  text-align: center;
  margin-bottom: 2rem;
}

/* Estilo para la cuadrícula */
.servicios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

/* Estilo de cada servicio */
.servicio-item {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo para el título de cada servicio */
.servicio-titulo {
  font-size: 1.5rem;
  font-family: "Poppins", serif;
  color: #555555; /* Color negro para garantizar visibilidad */
  margin-top: 1rem; /* Espacio entre la imagen y el título */
}

/* Estilo para las imágenes */
.servicio-imagen {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilo para los párrafos de descripción */
.servicio-item p {
  font-size: 1rem;
  color: #555;
  margin-top: 0.5rem;
}

/* Centrar las imágenes de la segunda columna */
.servicios-grid .segunda-columna .servicio-imagen {
  margin: 0 auto; /* Centrar horizontalmente */
  display: block; /* Asegurar que la imagen sea un elemento bloque */
}

.segunda-fila {
  justify-self: center; /* Centra el elemento en el eje horizontal */
  grid-column: span ; /* Opción: ocupa más espacio horizontal si es necesario */
}

@keyframes subirBajar {
  0%,
  100% {
    transform: translateY(0); /* Posición inicial */
  }
  50% {
    transform: translateY(-10px); /* Subir */
  }
}

.hover-subir-bajar {
  animation: subirBajar 1.5s infinite ease-in-out; /* Duración de 1.5 segundos */
}

.subir-bajar {
  animation: subirBajar 2s infinite ease-in-out; /* 2s duración del ciclo */
}
