
.servicios-h{
    padding-top: 5%;
    text-align: center;
    font-family: "Poppins", serif;

}

.servicios-ul{
    padding-top: 2%;
    font-size: 25px;
    font-family: "Poppins", serif;
    font-weight: bold;
}
