/* Estilo general */
body {
  background-color: black;
  font-family: "Poppins", serif;
  margin: 0;
  padding-top: 56px;
}

.container {
  width: 100%;
  padding: 20px;
}

.h-clientessatisfechos{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-family: "Poppins", serif;
  font-weight: bold;
}

.content-clientes{
  text-align: center; /* Centra el título */
    margin: 2rem;
}

/* Botones */
.boton-p, .boton-p-p {
  background-color: #b75145 !important;
  color: white !important;
  border: none !important;
  font-family: "Poppins", serif;
  font-size: 1vw !important;
  border-radius: 5px !important;
  padding: 10px 25px !important;
  float: left;
  margin-left: 0;
}

.dropdown-menu{
  font-size: 20px !important; 
  color: #f1f1f1 !important;
  border: none !important;
  font-family: "Poppins", serif;
  border-radius: 25px !important;
  padding: 10px 20px !important;
}

.dropdown-menu a:hover{
  background-color: #b75145;
  color: white;
  border-radius: 5px !important;
}


/* Media Queries */
@media (max-width: 767px) {
  .home-m {
    padding-top: 15%;
    font-size: 5rem;
  }

  .h1-home {
    font-size: 6rem;
  }

  .h2-proyectos {
    font-size: 4.5vw;
  }

  .p-nosotros, .project-description, .p-fabrica {
    font-size: 1rem;
  }

  .custom-nav-spacing .nav-link {
    font-size: 1.2rem;
  }

  .carousel-image {
    width: 90%;
  }

  .footer-links a,
  .footer-social a {
    font-size: 2.5rem;
  }
}

@media (max-width: 991px) {
  .home-m {
    padding-top: 15%;
    font-size: 6vw;
  }

  .h1-home {
    font-size: 8vw;
  }

  .h2-proyectos {
    font-size: 2.5rem;
  }

  .project-description {
    font-size: 3.5vw;
  }

  .carousel-image {
    width: 80%;
  }
}
